%tr[ macro_step, :marker ]
%tr[ macro_step, :show ]
  %td{ :width => 50 }= macro_step.position
  %td{ :width => 90 }
    - if macro_step.action == 'create'
      .badge.bg-success
        = macro_step.action
    - elsif macro_step.action == 'update'
      .badge.bg-warning
        = macro_step.action
    - elsif macro_step.action == 'create_update'
      .badge.bg-warning
        = macro_step.action
    - elsif macro_step.action == 'remove'
      .badge.bg-warning
        = macro_step.action
    - else
      = macro_step.action
  %td{ :width => 80 }= macro_step.record_type
  %td{ :width => 230 }
    %code= macro_step.name
  %td{ :width => 30 }= macro_step.prio
  %td{ :width => 230 }
    %code= macro_step.content
  %td{ :width => 100 }
    = link_to_function fa_icon("edit fw"), "editRecordTemplate(#{macro_step.id})", title: t(:help_macro_step_edit), "aria-label" => t(:generic_edit)
    = link_to fa_icon("trash fw", class: 'text-danger'), macro_macro_step_path(@macro, macro_step), method: :delete, data: { confirm: t(:confirm_macro_step_delte) }, title: t(:help_macro_delete), "aria-label" => t(:generic_remove)

%tr[ macro_step, :edit ]{ :style => 'display: none' }
  %td{ :colspan => 7 }
    = form_for( [@macro, macro_step], :remote => true ) do |f|
      %div[ macro_step, :error ]
      %table.gridwide
        %tr
          %td{ :width => 50 }= f.text_field :position, :size => 3
          %td{ :width => 90 }= f.select :action, MacroStep.valid_actions.map { |a| [ a.humanize, a ] }
          %td{ :width => 80 }= f.select :record_type, Macro.record_types.map { |t| [t,t] }
          %td{ :width => 220 }= f.text_field :name, :size => 15
          %td{ :width => 30 }
            - if macro_step.record_type == 'MX'
              = f.text_field :prio, :size => 2
          %td{ :width => 220 }= f.text_field :content, :size => 15
          %td{ :width => 44 }
            = link_to fa_icon('save fw'), '#', data: { 'form-submit' => true }
            = link_to_function fa_icon('window-close fw', class: 'text-secondary'), "hideRecordTemplate(#{macro_step.id})"
