%h1.underline Macros

%table.table
  %tr
    %th Name
    %th Description
    %th
      = link_to new_macro_path, class:'btn btn-success', title: t(:help_macro_new) do
        = fa_icon("plus")
        = t(:label_macro_add)

  - unless @macros.size > 0
    %tr{colspan: 3}
      %td= t(:message_macro_not_defined)

  - @macros.each do |macro|
    %tr
      %td= link_to macro.name.presence || "(unnamed #{macro.id})", macro_path(macro)
      %td= macro.description
      %td
        - unless macro.active
          .badge.bg-secondary Inactive
