%h1.underline
  = t(:title_user_detail_for, :user => @user.login)

.row.p-2
  %label.col-sm-2= t :label_user_name
  .col-sm-10= @user.login

.row.p-2
  %label.col-sm-2= t :label_user_email
  .col-sm-10= @user.email
.row.p-2
  %label.col-sm-2= t :label_user_admin
  .col-sm-10= @user.admin? ? 'Yes' : 'No'
.row.p-2
  %label.col-sm-2= t :label_user_auth_tokens
  .col-sm-10= @user.auth_tokens? ? 'Yes' : 'No'

.row.p-2
  .col-sm-10.offset-sm-2
    = link_to edit_user_path(@user), class: 'btn btn-primary me-2' do
      = fa_icon 'edit'
      = t(:generic_change)

    = link_to user_path(@user), method: :delete, data: { confirm: t(:confirm_user_remove) }, class: 'btn btn-danger me-2' do
      = fa_icon 'trash'
      = t(:generic_remove)

    - unless false && @user.admin?
      = link_to view_reports_path(id: @user), class: 'btn btn-secondary' do
        = t(:label_user_detail)
