%p=t :label_create_new_domain_note

= form_for( @domain || Domain.new ) do |f|
  .form-group.row.mb-3
    = error_messages_for f.object

  .form-group.row.mb-3
    = f.label :name, t(:label_domain_name), class: 'col-sm-2 col-form-label'
    .col-sm-10= f.text_field :name, class: 'form-control', placeholder: "FDQN", title: t(:help_domain_fqdn)

  .form-group.row.mb-3
    = f.label :type, t(:label_domain_type), class: 'col-sm-2 col-form-label'
    .col-sm-10= f.select :type, Domain::TYPES, {}, class: 'form-select', title: t(:help_domain_type)

  .form-group.row.mb-3#master-address{ :style => 'display: none' }
    = f.label :master, t(:label_domain_master_address), class: 'col-sm-2 col-form-label'
    .col-sm-10= f.text_field :master, class: 'form-control', placeholder: "Master", title: t(:help_domain_master)

  .form-group.row.mb-3
    = f.label :zone_template_id, t(:label_domain_zone_template), class: 'col-sm-2 col-form-label'
    .col-sm-10
      - templates_with_soa = ZoneTemplate.with_soa.user(current_user).to_a
      - if templates_with_soa.size > 0
        = f.collection_select :zone_template_id, templates_with_soa, :id, :name, { include_blank: true }, class: 'form-select'
      - else
        %em
          =link_to((t :label_create_zone_templates), new_zone_template_path)
          =t :label_zone_for_eazy_management


  -# SOA part:
  #no-template-input
    .form-group.row.mb-3
      = f.label :primary_ns, t(:label_domain_primary_name_server), class: 'col-sm-2 col-form-label'
      .col-sm-10= f.text_field :primary_ns, class: 'form-control', placeholder: "Primary NS FDQN", title: t(:help_domain_primary_ns)

    .form-group.row.mb-3
      = f.label :contact, t(:label_domain_contact), class: 'col-sm-2 col-form-label'
      .col-sm-10= f.text_field :contact, class: 'form-control', placeholder: "Primary NS FDQN", title: t(:help_domain_contact)


    .form-group.row.mb-3
      = f.label :refresh, t(:label_domain_refresh), class: 'col-sm-2 col-form-label'
      .col-sm-10
        .input-group
          = f.text_field :refresh, class: 'form-control', title: t(:help_domain_refresh)
          .input-group-text seconds
    .form-group.row.mb-3
      = f.label :retry, t(:label_domain_retry), class: 'col-sm-2 col-form-label'
      .col-sm-10
        .input-group
          = f.text_field :retry, class: 'form-control', title: t(:help_domain_retry)
          .input-group-text seconds
    .form-group.row.mb-3
      = f.label :expire, t(:label_domain_expire), class: 'col-sm-2 col-form-label'
      .col-sm-10
        .input-group
          = f.text_field :expire, class: 'form-control', title: t(:help_domain_expire)
          .input-group-text seconds
    .form-group.row.mb-3
      = f.label :minimum, t(:label_domain_minimum), class: 'col-sm-2 col-form-label'
      .col-sm-10
        .input-group
          = f.text_field :minimum, class: 'form-control', title: t(:help_domain_minimum)
          .input-group-text seconds

  .form-group.row.mb-3
    .col-sm-10.offset-sm-2
      = submit_tag t(:generic_save), class: 'btn btn-primary'
      - if @domain
        = link_to t(:generic_cancel), @domain.new_record? ? domains_path : domain_path(@domain), class: 'btn btn-secondary'

