- css_class = cycle('even', 'odd')
- if params[:rhighlight].to_i == record.id
  - css_class = 'bg-success'

%tr[ record, :marker ]
%tr[ record, :show ]{:class => css_class}
  %td{ :width => 250 }= record.shortname
  %td{ :width => 50 }= record.ttl
  %td{ :width => 30 }= record.type
  %td{ :width => 30 }= record.prio
  %td.text-truncate{ width: 250, style: "max-width: 300px" }= record.content
  %td{ :width => 39 }
    - unless record.domain.slave?
      - if current_user || current_token.can_change?( record )
        = link_to_function fa_icon('edit fw'), "editRecord(#{record.id}, '#{record.type.downcase}')", title: t(:label_domain_edit_record)
      - if current_user || current_token.can_remove?( record )
        = link_to fa_icon('trash fw', class: 'text-danger'), domain_record_path( record.domain, record ), method: :delete, data: { confirm: t(:confirm_domain_delte_record) }, title: t(:label_domain_delete_record)

- unless record.domain.slave?
  - if current_user || current_token.can_change?( record )
    %tr[ record, :edit ]{ :style => "display: none;", :class => [css_class, "show_#{record.type.downcase}_#{record.id}"]}
      %td{ :colspan => 7 }
        = form_for( record, :as => :record, :url => domain_record_path(record.domain, record ), :remote => true ) do |f|
          %div[ record, :error ]
            %table.gridwide
              %tr
                %td{ :width => 250 }= f.text_field :shortname, :size => 15
                %td{ :width => 50 }= f.text_field :ttl, :size => 3
                %td{ :width => 30 }= record.type
                %td{ :width => 30 }
                  - if record.supports_prio?
                    = f.text_field :prio, :size => 2
                  - else
                    &nbsp;
                %td{ :width => 250 }= f.text_field :content, :size => 15
                %td{ :width => 39 }
                  = link_to fa_icon('save fw'), '#', data: { 'form-submit' => true }
                  = link_to_function fa_icon('window-close fw', class: 'text-secondary'), "hideRecord(#{record.id}, '#{record.type.downcase}')"
