%li
  - id = "domain_audit_details_#{domain_audit.id}"
  = link_to_domain_audit(domain_audit, id)
  .collapse{ id: id }
    %strong= t :label_audit_time
    = domain_audit.created_at
    %br
    %strong= t :label_audit_changes
    %br
    = display_hash domain_audit.audited_changes
