%li
  - id = "record_audit_details_#{record_audit.id}"
  = link_to_record_audit(record_audit, id)
  .collapse{ id: id }
    %strong= t :label_audit_time
    = record_audit.created_at
    %br
    %strong= t :label_audit_changes
    %br
    = display_hash record_audit.audited_changes

