%h1.underline
  = t(:title_api_client_details_for, name: @api_client.name)

.row.p-2
  %label.col-sm-2= t :label_api_client_name
  .col-sm-10= @api_client.name
.row.p-2
  %label.col-sm-2= t :label_api_client_token
  .col-sm-10
    %code= @api_client.authentication_token

.row.p-2
  .col-sm-10.offset-sm-2
    = link_to edit_api_client_path(@api_client), class: 'btn btn-primary me-2' do
      = fa_icon 'edit'
      = t(:generic_change)
    = link_to api_client_path(@api_client), method: :delete, confirm: t(:confirm_user_remove), class: 'btn btn-danger' do
      = fa_icon 'trash'
      = t(:generic_remove)