!!!
%html(lang="en")
  %head
    %title= page_title
    %meta(name="description" content="PowerDNS admin panel")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    #Container
      #Header
        %h1
          = link_to t(:layout_main_title), root_url, style: "text-decoration: none; color: white"
      - if current_user
        #search-bar{:style => "display: inline; float: right;"}
          = form_tag( { :controller => :search, :action => :results }, { :method => :get } ) do
            = label_tag :q, "Domain:"
            = text_field_tag :q
            = submit_tag( t(:generic_search) )
        #Nav
          %ul
            -# %li= link_to((t :layout_menu_home), root_url)
            %li= link_to((t :layout_menu_domains), domains_path)
            %li= link_to((t :layout_menu_templates), zone_templates_path)
            %li= link_to((t :layout_menu_macros), macros_path)
            - if current_user.admin?
              %li= link_to((t :layout_menu_logs), audits_path)
              %li= link_to((t :layout_menu_users), users_path)
              %li= link_to((t :layout_menu_api_clients), api_clients_path)
              %li= link_to((t :layout_menu_reports), reports_path)
            %li= link_to((t :layout_menu_logout), destroy_user_session_path)

      #Body
        = show_flash

        = yield
      #Footer
        -# http://github.com/kennethkalmer/powerdns-on-rails
        Based on PowerDNS on Rails &copy; Kenneth Kalmer
        %br
        Released under the MIT License.
